# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.sqlite3

# IDEs / Editors
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Docker
*.log
*.pid
*.sock
docker-compose.override.yml

# Python packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db
